# Specific local files8
log
.config
**.nml
jupyter_instructions.txt

# dask lock files
**.dirlock
**.lock

# python and jupyter notebook files
.ipynb_checkpoints
__pycache__
**.egg-info
.eggs
__pycache__
.pytest_cache
**.pyc

# Mac stuff
._*

# Standard error output files
**.OU
**.out
**.err

# excel files
**.xlsx
**.xl

# nc files
**.nc

# mac files
.DS_Store

# Backup files
**.bak

# Compiled Static libraries
**.lai
**.la
**.a
**.lib

# Executables
**.exe
**.out
**.app
